.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-info {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid #333;
}

.profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.profile-details {
    margin-left: 20px; /* Adjust spacing between image and text */
    text-align: left;
}

.profile-username {
    font-size: 30px;
    font-weight: bold;
}

.about-section,
.education-section,
.experience-section,
.address-section,
.skills-section {
    margin-top: 20px;
}

.about-section h3,
.education-section h3,
.experience-section h3,
.address-section h3,
.skills-section h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-section p,
.education-section p,
.experience-section p,
.address-section p,
.skills-section p {
    line-height: 1.6;
}

.full-width {
    width: 100%;
}
